
<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#84D8F0">
    <tr>
        <td valign="top" align="center">
            <table cellspacing="0" cellpadding="0" border="0" width="600" align="center" bgcolor="#84D8F0">
                <tr>
                    <td valign="top" align="center">
                        <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#84D8F0">
                            <tr>
                                <td valign="top" align="center">
                                    <table valign="top" cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#84D8F0" style="">
                                        <tr><td height="46"></td></tr>
                                        <tr>
                                            <td valign="middle" align="center" width="599" 
                                            style="display: inline-block; ">
                                                <a href="https://www.gymshark.com">
                                                    <img src="img/uk-1.jpg" 
                                                    alt="gymshark logo" style="display:inline-block" border="0" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                 </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
