<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#ff00ff">
    <tr>
        <td valign="top" align="center">
            <table width="680" cellpadding="0" cellspacing="0" border="0" valign="top" align="center"  bgcolor="#ff00ff" >
                <tr>
                    <td align="center" width="100%" valign="top" style="
                    font-family:Arial, sans-serif;
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom:15px;
                    padding-left: 20px;
                    padding-right: px;" 
                    bgcolor="#FFFFFF">
                        Check out these Sweet Rides
                    </td>
                </tr>
    
                <tr>
                    <td valign="top" align="center"  bgcolor="#ff0000">
                        <table cellpadding="0" cellspacing="0" border="0" valign="top" align="center"  bgcolor="#FFFFFF" style="border: 1px solid #d3d3d3; border-radius: 4px;">
                            <tr>
                                <td valign="middle" align="center" bgcolor="#FFFFFF" >
                                    <table width="100%"cellpadding="15" cellspacing="0" border="0" valign="top" align="center" bgcolor="#FFFFFF">
                                        <tr>
                                            <td align="middle" valign="top" bgcolor="#FFFFFF">
                                            <a href="">
                                                <img src="https://logos.skyscnr.com/images/carhire/seo/deals-images/economy.png" alt="A red golf">
                                            </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="" valign="top" style="
                                                font-family:Arial, sans-serif;
                                                font-size: 20px;
                                                padding-bottom:15px;
                                                padding-left: px;
                                                padding-right: px;" 
                                                bgcolor="#FFFFFF">
                                                    <b>Car 1</b><br>
                                                    2-3 doors    
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <table align="left" valign="middle" cellspacing="10">
                                                <td align="center" valign="middle" style=" font-family:Arial, sans-serif; padding-bottom:10px; padding-left:10px; padding-right:10px;  border-radius: 10px;" bgcolor="#fdebd0" >
                                                    <img valign="bottom" src="https://cdn.braze.eu/appboy/communication/assets/image_assets/images/6241926a6132573778bfe020/original.png?1648464490" alt="">
                                                    4 seats
                                                </td>
                                                <td align="center" valign="middle" style=" font-family:Arial, sans-serif; padding-bottom:10px; padding-left:10px; padding-right:10px;  border-radius: 10px;" bgcolor="#fdebd0" >
                                                    <img valign="bottom" src="https://cdn.braze.eu/appboy/communication/assets/image_assets/images/6241926ae908b57c729506dd/original.png?1648464490" alt="">
                                                    2
                                                </td>
                                            </table>
                                        </tr>
                                        <tr>
                                            <td valign="middle" align="center" bgcolor="#FFFFFF" >
                                                <table align="center" width="100%" valign="middle" style="border: 1px solid #d3d3d3; border-radius: 4px;">
                                                    <tr>
                                                        <td align="center" valign="middle" style=" font-family:Arial, sans-serif;text-align:left;padding-bottom:10px; padding-left:10px; padding-right:10px;  border-radius: 10px;"  >
                                                            from<br> <strong style="color:#2BA698; font-weight:bold; font-size:20px;">£33</strong> a day
                                                        </td>
                                                        <td align="center" valign="middle" style=" font-weight:bold; font-family:Arial, sans-serif;color:#ffffff; font-size:20px;   border-radius: 10px;" bgcolor="#2BA698" >
                                                            View →
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>        
                            </tr>
                        </table>
                    </td>
                    
                    <td valign="top" cellpadding="0" cellspacing="0" align="center"  bgcolor="#ffffff">
                        <table cellpadding="0" cellspacing="0" border="0" valign="top" align="center"  bgcolor="#FFFFFF" style="border: 1px solid #d3d3d3; border-radius: 4px;">
                            <tr>
                                <td cellpadding="0" cellspacing="0" valign="middle" align="center" bgcolor="#FFFFFF" >
                                    <table width="100%"cellpadding="15" cellspacing="0" border="0" valign="top" align="center" bgcolor="#FFFFFF">
                                        <tr>
                                            <td cellpadding="0" cellspacing="0" align="middle" valign="top" bgcolor="#FFFFFF">
                                            <a href="">
                                                <img src="https://logos.skyscnr.com/images/carhire/seo/deals-images/economy.png" alt="A red golf">
                                            </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="" cellpadding="0" cellspacing="0" valign="top" style="
                                                font-family:Arial, sans-serif;
                                                font-size: 20px;
                                                padding-bottom:15px;
                                                padding-left: px;
                                                padding-right: px;" 
                                                bgcolor="#FFFFFF">
                                                    <b>Car 1</b><br>
                                                    2-3 doors    
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <table cellpadding="0" align="left" valign="middle" cellspacing="10">
                                                <td align="center" valign="middle" style=" font-family:Arial, sans-serif; padding-bottom:10px; padding-left:10px; padding-right:10px;  border-radius: 10px;" bgcolor="#fdebd0" >
                                                    <img valign="bottom" src="https://cdn.braze.eu/appboy/communication/assets/image_assets/images/6241926a6132573778bfe020/original.png?1648464490" alt="">
                                                    4 seats
                                                </td>
                                                <td align="center" valign="middle" style=" font-family:Arial, sans-serif; padding-bottom:10px; padding-left:10px; padding-right:10px;  border-radius: 10px;" bgcolor="#fdebd0" >
                                                    <img valign="bottom" src="https://cdn.braze.eu/appboy/communication/assets/image_assets/images/6241926ae908b57c729506dd/original.png?1648464490" alt="">
                                                    2
                                                </td>
                                            </table>
                                        </tr>
                                        <tr>
                                            <td valign="middle" align="center" bgcolor="#FFFFFF" >
                                                <table align="center" width="100%" valign="middle" style="border: 1px solid #d3d3d3; border-radius: 4px;">
                                                    <tr>
                                                        <td align="center" valign="middle" style=" font-family:Arial, sans-serif;text-align:left;padding-bottom:10px; padding-left:10px; padding-right:10px;  border-radius: 10px;"  >
                                                            from<br> <strong style="color:#2BA698; font-weight:bold; font-size:20px;">£33</strong> a day
                                                        </td>
                                                        <td align="center" valign="middle" style=" font-weight:bold; font-family:Arial, sans-serif;color:#ffffff; font-size:20px;   border-radius: 10px;" bgcolor="#2BA698" >
                                                            View →
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>        
                            </tr>
                        </table>
                    </td>
                </tr>
                
                
            </table>
        </td>
    </tr>
</table>
    