
<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#84D8F0">
    <tr>
        <td valign="top" align="center">
            <table cellspacing="0" cellpadding="0" border="0" width="600" align="center" bgcolor="#84D8F0">
                <tr>
                    <td valign="top" align="center">
                        <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#84D8F0">
                            <tr>
                                <td valign="top" align="center">
                                    <table valign="top" cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#84D8F0" >
                                        <tr><td height="46"></td></tr>
                                        <tr>
                                            <td valign="middle" align="center" width="599" 
                                            style="display: inline-block; ">
                                                <a href="https://www.gymshark.com">
                                                    <img src="img/uk-2.jpg" 
                                                    alt="OutFit of the Week - Get the look with Gymshark" style="display:inline-block" border="0" />
                                                </a>
                                            </td>
                                        </tr>
                                        
                                        <tr><td height="46"></td></tr>
                                        <tr>
                                            <td align="center" valign="top" style="
                                              font-family: Helvetica, Arial, sans-serif;
                                              font-size: 16px;
                                              text-align: center;
                                              line-height: 16px;
                                              padding-left: 80px;
                                              padding-right: 80px;
                                              padding-bottom: 20px;
                                              color: #FFFFFF;
                                              background-color:#84D8F0 ">
                                                Lorem ipsum dolor sit amet. Et delectus animi ut omnis delectus et voluptatem tempora et placeat neque ut harum soluta sed eligendi aspernatur et exercitationem nemo. 
                                              </td>
                                          </tr>
                                    </table>
                                 </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
