<!DOCTYPE html>
<html>

<head>
  <title>liquidjs for the browser</title>
  <script src="node_modules/liquidjs/dist/liquid.browser.min.js"></script>
</head>

<body>
  <script>
    var Liquid = window.liquidjs.Liquid
    var engine = new Liquid({
      extname: '.html',
      cache: true
    });
    var src = "<h2>Welcome to {{ name | capitalize}}, {% include 'date.html' %}</h2>";
    var ctx = {
      name: 'Liquid',
      date: new Date()
    };

    var header = "<table>{% include 'header.html'%}</table>";
    var emailBodyBuilder;
    var footer = "<table>{% include 'footer.html'%}</table>";
    
    engine.parseAndRender(header) //on this line we tell the engine to read, understand and then show us what the variables src and ctx evaluate to. 
      .then(function(html) {
        document.body.innerHTML = html
      });
    
      //engine.parseAndRender(, footer) //on this line we tell the engine to read, understand and then show us what the variables src and ctx evaluate to. 
      //.then(function(html) {
        //document.body.innerHTML = html
      //});
    
      
  </script>
</body>

</html>
